.App {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: grid;
    grid-template-areas: 
    'head   head'
    'hero-list  hero-display'
    'form   form'
    'foot   foot';
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    padding: 1rem;
}