.hero-display {
    grid-area: hero-display;
    padding: 1rem;
}

.hero-display__none {
    font-weight: bold;
    padding: 25%;
}

.hero-display__box {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
}

.hero-display__name {
    grid-column: span 2;
    font-size: larger;
    margin: 1rem 1rem;
}

.hero-display__name > h4 {
    display: inline;
}

.hero-icon {
    margin: 0 1rem
}

.hero-icon--marvel {
    color:  #ED1D24;
}

.hero-icon--dc {
    color:  #0476F2;
}

.hero-display__box > img {
    grid-column: span 2;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.hero-display__image {
    border-radius: 25px;
    mask-image: linear-gradient(45deg,#000 25%,#00000033 50%,#000 75%);
    mask-size: 800%;
    mask-position: 0;
}

.hero-display__image:hover {
    transition: mask-position 3s ease;
    mask-position: 120%;
}

.patch-input-container {
    grid-column: span 2;
}

.hero-display__btns {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 1rem 0 0 0;
}

.hero-display__btns > svg {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    color: #808080;
}

.hero-display__btns > svg:hover {
    transform: scale(1.25);
}

.btns:hover {
    color: #000;
}

.btns--delete:hover {
    color: #ff0000;
}