.heroes-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.heroes-list_name {
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
    color: #FFF;
}


.marvel-hero {
    background-color: #ED1D24;
}

.dc-hero {
    background-color: #0476F2;
}