.heroes-list-container {
    grid-area: hero-list;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.heroes-list_name {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    color: #FFF;
}

.heroes-list_name:hover {
    opacity: 0.7;
}

.marvel-hero {
    background-color: #ED1D24;
}

.dc-hero {
    background-color: #0476F2;
}